body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.gallery1{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.card-link{
  flex: 1 0 25%; /* Ancho del 25% y crece */
  height: auto;
  background-color: #ccc;
  margin-bottom: 5px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
}

.card-link img{
  width: 100%;
  height: 300px;
}


.info{
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: auto;
  margin-right:40px;
  padding-left: 4px;
}

.info-item{
  padding-left: 4px;
  padding-right: 6px;
  margin-right: 25px;
  margin-left: 2px;
}
.info-item .titulo{
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.info-item li{
  list-style: none;
  width: 60px;
  height: auto;
  color: black;
}

  .search-form{
    background-color: rgb(6, 158, 138);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .entrada{
    width: 500px;
    height: 40px;
    font-size: 30px;
    padding-left: 2px;
  }

  .boton{
    height: 45px;
    margin-left: 5px;
    font-size: 30px;
    cursor: pointer;
  }

  .boton:hover{
    background-color: #0bfa17;
  }

  .entrada:focus{
    outline: 2px solid rgb(0, 153, 255);
  }

  .load-more{
    width: 200px;
    height: 50px;
    font-family: sans-serif;
    font-size: 20px;
    color: azure;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    border-radius: 5px;
    border: 2px solid red;
    transition:0.5s ease all;
  }

  .load-more:hover{
    background-color: rgb(247, 153, 118);
    border-color: #0bfa17;
    transform: scale(1.1);
  }